version: 2
jobs:
   build:
     docker:
      - image: nezarfadle/laravel-php70
     # machine: 
     #    php:
     #      version: 7.0.4
     steps:
       - checkout
       # - run: yum install wget composer -y
       # - run: composer install --no-plugins --no-scripts 
       # - run: echo "Running the tests"
       # - run: wget https://phar.phpunit.de/phpunit-6.2.phar
       # - run: chmod +x phpunit-6.2.phar
       # - run: mv phpunit-6.2.phar /usr/bin/phpunit
       # - run: php /usr/bin/phpunit
       # - run: php vendor/phpunit/phpunit/phpunit
       - run: php -v
       - run: whereis php