version: 2
jobs:
   build:
     docker:
      - image: nezarfadle/laravel-php70
     # machine: 
     #    php:
     #      version: 7.0.4
     steps:
       - checkout
       - run: php -r "copy('https://getcomposer.org/installer', 'composer-setup.php');"
       - run: php -r "if (hash_file('SHA384', 'composer-setup.php') === '669656bab3166a7aff8a7506b8cb2d1c292f042046c5a994c43155c0be6190fa0355160742ab2e1c88d40d5be660b410') { echo 'Installer verified'; } else { echo 'Installer corrupt'; unlink('composer-setup.php'); } echo PHP_EOL;"
       - run: php composer-setup.php
       - run: php -r "unlink('composer-setup.php');"
       - run: mv composer.phar /usr/bin/composer
       # - run: yum install wget composer -y
       - run: composer install --no-plugins --no-scripts 
       # - run: echo "Running the tests"
       # - run: wget https://phar.phpunit.de/phpunit-6.2.phar
       # - run: chmod +x phpunit-6.2.phar
       # - run: mv phpunit-6.2.phar /usr/bin/phpunit
       # - run: php /usr/bin/phpunit
       # - run: php vendor/phpunit/phpunit/phpunit
       # - run: yum install phpunit -y
       - run: php -v
       - run: whereis php
       # - run: php phpunit
       # - run: php /usr/bin/phpunit