version: 2
jobs:
   build:
     docker:
      - image: nezarfadle/laravel-php70
     steps:
       - checkout
       - run: yum install composer -y
       - run: echo "Running the tests"
       - run: phpunit