# version: 2
# jobs:
#    build:
     # docker:
     #  - image: nezarfadle/laravel-php70
     # machine: 
     #    php:
     #      version: 7.0.0
     # steps:
     #   - checkout
       # - run: yum install wget composer -y
       # - run: composer install --no-plugins --no-scripts 
       # - run: echo "Running the tests"
       # - run: wget https://phar.phpunit.de/phpunit-6.2.phar
       # - run: chmod +x phpunit-6.2.phar
       # - run: mv phpunit-6.2.phar /usr/local/bin/phpunit
       # - run: phpunit
       # - run: php -v
machine:
  # pre:
  #   - sudo apt-get update; USE_PRECOMPILE=true sudo -E circleci-install php 7.1.0
  php:
    version: 7.0.4

build:
  override:
    - php --version