version: 2
jobs:
   build:
     # docker:
     #  - image: nezarfadle/laravel-php70
     steps:
       - checkout
       # - run: yum install wget composer -y
       # - run: composer install --no-plugins --no-scripts 
       # - run: echo "Running the tests"
       # - run: wget https://phar.phpunit.de/phpunit-6.2.phar
       # - run: chmod +x phpunit-6.2.phar
       # - run: mv phpunit-6.2.phar /usr/local/bin/phpunit
       # - run: phpunit
       - run: whereis php